@font-face {
  font-family: "Aqua";
  src: local("Aqua"),
   url("./assests/fonts/aqua/aqua.ttf") format("truetype");
  font-weight: normal;
 }

@font-face {
  font-family: "RobotoSlab";
  src: local("RobotoSlab"),
   url("./assests/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "RobotoSlab";
  src: local("RobotoSlab"),
   url("./assests/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Aqua', Courier, monospace;
  text-transform: uppercase;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'RobotoSlab', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}